/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    background-color: #540B51;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

#nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.logo-class ul {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: .1px;
}

.slack-logo {
    width: 100px;
    height: auto;
    margin-top: 30px;
    margin-left: 30px;

}

.team {
    text-align: center;
    color: white;
    margin: -100px 20px 0 20px;
}

.team h1 {
    font-size: 3.4rem;
}

.team p {
    font-size: 1.5rem;
}